p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.butter{
/*Step 2: Basic Button Styles*/
 display: block;
 background:#68B297;
 border: 2px solid rgba(33, 68, 72, 0.59);
 
 /*Step 3: Text Styles*/
 color: rgb(253, 251, 251);
 text-align: center;
 font: bold 3.2em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

 background: -webkit-linear-gradient(top, #68B297, #68B297);
 background: -moz-linear-gradient(top, #68B297, #68B297);
 background: -o-linear-gradient(top, #68B297, #68B297);
 background: -ms-linear-gradient(top, #68B297, #68B297);
 background: linear-gradient(top, #68B297, #68B297);
 
 -webkit-border-radius: 50px;
 -khtml-border-radius: 50px;
 -moz-border-radius: 50px;
 border-radius: 50px;
 
 -webkit-box-shadow: 0 8px 0 #1b383b;
 -moz-box-shadow: 0 8px 0 #1b383b;
 box-shadow: 0 8px 0 #1b383b;
 
 text-shadow: 0 2px 2px rgba(253, 252, 252, 0.2);
}
 
/*Step 3: Link Styling*/
a.butter {
 text-decoration: none;
}